%h1
  New question
- form_for(@question) do |question|
  = question.error_messages
  %p
    = question.label :question
    %br
    = question.text_area :question, :cols => "50", :rows => "5"
  - ('A'..'D').each do |letter|
    - question.fields_for :choices do |choice|
      %p
        = choice.hidden_field :letter, :value => letter
        = letter
        \.
        = choice.text_field :choice
  %p
    = question.submit 'Create'
= link_to 'Back', questions_path
