%h1
  Question:
%p
  = h @question.question
%table
  - @question.choices.each do |choice|
    %tr
      %td
        = h choice.letter
        \.
      %td
        = h choice.choice
        /= link_to 'Destroy', choice, :confirm => 'Are you sure?', :method => :delete
= link_to 'Edit', edit_question_path(@question)
|
= link_to 'Back', questions_path
